.background-image {
  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;
  // From https://medium.com/what-i-learned-building/4364221d6d97
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  width: 100%;
  height: 100%;
}

.background-image-overlay {
  z-index: 0;
  position: fixed !important;
  left: 0;
  width: 100%;

  // Fixes scroll problem
  // http://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q1329317513
  top: -1000px;
  height: 4000px;
  background-color: rgba(#000,0.3);
}

.image-dark {
  -webkit-filter: grayscale(70%) brightness(70%);
}

.background {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.background-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.container {
  @include outer-container;
  background-color: white;
}

.top-section {
  @include outer-container;
  margin-top: 20px;
}

.container > div {
  position: relative;
  padding: {
    top: $image-padding;
    left: $image-padding;
  }
  &.index {
    padding: {
      top: 0;
      left: 0;
    }
  }
}

.tip {
  color: white;
  font-size: 13px;
  opacity: 0.75;
  margin-top: 10px;
  display: inline-block;
  @include media($mobile) {
    display: none;
  }
}

.touch .tip {
  display: none;
}

.copy {
  text-align: center;
  text-transform: lowercase;
  color: white;
  font-size: 13px;
  margin-top: 10px;
  padding-bottom: 20px;
  span {
    opacity: 0.5;
  }
  a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.img {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: block;
  @include media($mobile) {
    display: none;
  }
}

.mobile-image {
  display: none;
  @include media($mobile) {
    display: block;
  }
}

.index-button {
  @include linear-gradient(#ff5542, #ff8c80);
  @include border-top-radius(2px);
  text-align: center;
  display: inline-block;
  float: right;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  &:hover {
    background: #ff5542;
  }
  span {
    font-weight: 300;
  }
}

.page-text {
  padding: 10px;
  background-color: #f3f3f3;
  height: 100%;
}
.page-title {
  font-family: 'Lato', sans-serif;
  color: #aaa - #333;
  letter-spacing: 2.5px;
  font-size: 13px;
  text-transform: uppercase;
}
.show-page-title {
  margin: 0 0 10px;
}
.page-description {
  color: #aaa;
  margin-bottom: 0;
  a {
    color: inherit;
    &:hover {
      color: #aaa - #333;
    }
  }
}