| ---#{"\n"}
| layout: outer#{"\n"}
| name: index#{"\n"}
| cover: /images/elle-dayou/4.jpg#{"\n"}
| ---#{"\n"}

.content-left
  .block-1
    .block-1-1
      .block-1-1-1
        a.js-index-image-0.img href="{{ site.posts[0].url }}" style="background-image: url({{ site.posts[0].cover }});"
        img.mobile-image src="{{ site.posts[0].cover }}"
      .block-1-1-2
        a.js-index-image-1.img href="{{ site.posts[1].url }}" style="background-image: url({{ site.posts[1].cover }});"
        img.mobile-image src="{{ site.posts[1].cover }}"
    .block-1-2
      a.js-index-image-2.img href="{{ site.posts[2].url }}" style="background-image: url({{ site.posts[2].cover }});"
      img.mobile-image src="{{ site.posts[2].cover }}"
  .block-2
    .block-2-1
      a.js-index-image-3.img href="{{ site.posts[3].url }}" style="background-image: url({{ site.posts[3].cover }});"
      img.mobile-image src="{{ site.posts[3].cover }}"
    .block-2-2
      a.js-index-image-4.img href="{{ site.posts[4].url }}" style="background-image: url({{ site.posts[4].cover }});"
      img.mobile-image src="{{ site.posts[4].cover }}"
  .block-3
    .block-3-1
      a.js-index-image-5.img href="{{ site.posts[5].url }}" style="background-image: url({{ site.posts[5].cover }});"
      img.mobile-image src="{{ site.posts[5].cover }}"
    .block-3-2
      .block-3-2-1
        a.js-index-image-6.img href="{{ site.posts[6].url }}" style="background-image: url({{ site.posts[6].cover }});"
        img.mobile-image src="{{ site.posts[6].cover }}"
      .block-3-2-2
        a.js-index-image-7.img href="{{ site.posts[7].url }}" style="background-image: url({{ site.posts[7].cover }});"
        img.mobile-image src="{{ site.posts[7].cover }}"
  .block-4
    .block-4-1
      a.js-index-image-8.img href="{{ site.posts[8].url }}" style="background-image: url({{ site.posts[8].cover }});"
      img.mobile-image src="{{ site.posts[8].cover }}"
    .block-4-2
      a.js-index-image-9.img href="{{ site.posts[9].url }}" style="background-image: url({{ site.posts[9].cover }});"
      img.mobile-image src="{{ site.posts[9].cover }}"
.content-right
  .block-1
    h1.title
      | {{ site.title }}
    h2.subtitle
      | {{ site.subtitle }}
  .block-2
    h2.table-contents.page-title
      | TABLE OF CONTENTS - TEST
    .table-content
      ul
        | {% for page in site.posts %}
        li
          a href="{{ page.url }}" data-index-image="{{ forloop.index0 }}"
            | {{ page.title }}
        | {% endfor %}
